<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.keke.sovetotkritki">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Act1mai"
            android:label="@string/title_activity_act1mai"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Act1sent"
            android:label="@string/title_activity_act1sent"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Act_dr"
            android:label="@string/title_activity_act_dr"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Act_ng"
            android:label="@string/title_activity_act_ng"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Act8mart"
            android:label="@string/title_activity_act8mart"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Act23f"
            android:label="@string/title_activity_act23f"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Act9mai"
            android:label="@string/title_activity_act9mai"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Razrab"
            android:label="@string/title_activity_razrab"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>